.page-container {
  min-height: 100vh;
}

.ui.main.container {
  padding-top: 1em !important;
}

.main-title {
  padding: 0.5em 0em 0.5em 0em !important;
  font-size: 300% !important;
}

.content-wrapper {
  max-width: 1200px !important;
}

.topic-list {
  max-width: 100% !important;
}

.topic-wrapper {
  padding: 0em 1em 1em 1em !important;
  border: 1px solid darkgrey !important;
  margin-bottom: 1em !important;
  border-radius: 4px;
  width: 100% !important;
}

.topic-subject {
  margin-bottom: 0 !important;
  width: 90%;
}

.topic-subject > a {
  color: black;
}

.topic-subject > a:hover {
  color: grey;
}

.content > a {
  color: black;
}

.content > a:hover {
  color: grey;
}

.author:hover {
  color: grey !important;
}

.topic-subject-input {
  width: 90%;
  font-size: 1.28571429rem;
  font-weight: 700;
  border: 0;
}

.topic-subject-input:focus {
  outline: none;
}

.topic-header-row {
  padding: 1em 0 1em 0;
}

.no-topics-message {
  margin-top: 1em;
}

.topic-navigation {
  display: flex;
  justify-content: center;
}

.post-wrapper {
  margin-bottom: 2em !important;
}

.post-body {
  margin-bottom: 1em;
}

.timestamp {
  font-size: 0.7em;
}

.likes-label {
  margin-top: 1em !important;
}

textarea {
  font-family: 'Lato', sans-serif !important;
}

.edit-topic-icon {
  position: absolute !important;
  right: 2.5em;
  top: 1.2em;
}

.delete-topic-icon {
  position: absolute !important;
  right: 1em;
  top: 1.2em;
}

.tag-list {
  margin-bottom: 1em;
}
