.page-container {
  min-height: 100vh;
}

.ui.main.container > .content-wrapper {
  max-width: 1200px;
}

h1.ui.header.main-title {
  padding: 0.5em 0em 1em 0em;
  font-size: 300%;
}

.comments.topic-list {
  max-width: 100%;
}

.comments > .comment.topic-wrapper {
  padding: 0em 1em 1em 1em;
  border: 1px solid darkgrey;
  margin-bottom: 1em;
  border-radius: 4px;
  width: 100%;
}

.topic-header-row {
  display: flex;
  justify-items: flex-end;
  padding: 1em 0 1em 0;
}

.topic-header-row > .topic-subject {
  margin-bottom: 0;
  width: 100%;
}

.topic-subject > a {
  color: black;
}

.topic-subject > a:hover {
  color: grey;
}

.topic-subject-input {
  width: 100%;
  font-size: 1.28571429rem;
  font-weight: 700;
  border: 0;
}

.topic-subject-input:focus {
  outline: none;
}

.content > a {
  color: black;
}

.content > a:hover {
  color: grey;
}

.content > .author:hover {
  color: grey !important;
}

.no-topics-message {
  margin-top: 1em;
}

.topic-navigation {
  display: flex;
  justify-content: center;
}

.comments > .comment.post-wrapper {
  margin-bottom: 2em;
}

.post-body {
  margin-bottom: 1em;
}

.timestamp {
  font-size: 0.7em;
}

.ui.form > .field > textarea {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.tag-list {
  margin-bottom: 1em;
}

.actions > .likes-label {
  margin-right: 1em;
}

.button-group {
  display: flex;
}
