<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Message Forum</title>
    <script>
      const handleLike = (messageId) => {
        const likeLabel = document.querySelector(`#likes-label-${messageId}`)
        fetch(`messages/${messageId}`, { method: 'POST' }).then((response) => {
          likeLabel.innerHTML = Number(likeLabel.innerHTML) + 1
        })
      }
    </script>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('messages_index') }}">Forum</a></li>
        <li><a href="{{ url_for('messages_form') }}">New message</a></li>
      </ul>
    </nav>
    {% block body %}
    <p>
      Content.
    </p>
    {% endblock %}
  </body>
</html>
