<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Message Forum</title>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {{ moment.include_moment() }}
  </head>

  <body>
    <div class="page-container">
      <div class="ui inverted teal menu">
        <a class="item" href="{{ url_for('topics_index') }}">All topics</a>
        <a class="item" href="{{ url_for('view_new_topic_form') }}">Add new topic</a>
        <a class="item" href="{{ url_for('view_search_form') }}">Search topics</a>
        {% if current_user.is_authenticated %}
        <a class="item" href="{{ url_for('view_user_page', user_id=current_user.id) }}">
          My profile
        </a>
        {% endif %}
        {% if current_user.is_admin %}
        <a class="item" href="{{ url_for('view_all_users') }}">All users</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('auth_logout') }}" id="logout-form">
          <a class="item" onclick="logout()">Log out {{ current_user.username }}</a>
        </form>
        {% else %}
        <a class="item" href="{{ url_for('view_login_form') }}">Login</a>
        {% endif %}
      </div>
      <h1 class="ui header centered teal main-title">Message Forum</h1>
      <div class="ui main container">
        {% block body %}
        {% endblock %}
      </div>
    </div>
    <div class="ui secondary menu footer">
      <a class="item" href="https://github.com/joonaspartanen/tsoha-forum">About</a>
    </div>
  </body>
  <script>
    $('.message .close').on('click', function () {
      $(this).closest('.message').transition('fade');
    });
  </script>
</html>
