<div class="comment post-wrapper" id="post-{{ post.id }}">
  <a class="avatar">
    <img src="../../static/images/avatar.png" alt="User avatar" />
  </a>
  <div class="content">
    <a class="author" href="{{ url_for('view_user_page', user_id=post.author.id) }}"
      >{{ post.author.username }}</a
    >
    <div class="metadata">
      <span class="date">{{ moment(post.date_created).fromNow() }}</span>
    </div>

    {% if post.preview %}
    <div class="text">
      {{ post.body|truncate(100, False) }}
    </div>
    <a href="{{ url_for('view_topic', topic_id=post.topic_id) }}">
      <i class="reply icon"></i>
      Reply
    </a>
    {% else %}
    <div class="text">
      {{ post.body }}
    </div>
    {% endif %}
    {% if not post.preview %}
    <div class="actions">
      <div
        class="ui label tiny likes-label {{ 'red' if current_user in post.liked_by_users }}"
        id="likes-label-{{ post.id }}"
        onclick="handleLike('{{ post.id }}', '{{ post.topic_id }}')"
      >
        <i class="heart icon"></i>
        <span id="likes-text-{{ post.id }}">{{ post.liked_by_users|length }}</span>
      </div>
      {% if current_user.is_admin or post.author == current_user %}
      <a href="{{ url_for('view_edit_post_form', post_id=post.id, topic_id=post.topic_id) }}"
        ><i class="pencil icon"></i>Edit</a
      >
      <a onclick="handlePostDelete('{{ post.id }}', '{{ post.topic_id }}')"
        ><i class="delete icon"></i>Delete</a
      >
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
