{% extends "layout.html" %}

{% block body %}

<h1>Edit profile</h1>
<form class="ui form" method="POST" action="{{ url_for('edit_profile', user_id=current_user.id) }}">
  {{ form.csrf_token }}
  <div class="field">
    <label>
      {{ form.description.label }}
    </label>
    {{ form.description }} {% for error in form.description.errors %}
    <div class="ui pointing red basic label">
      {{ error }}
    </div>
    {% endfor %}
  </div>
  <button class="ui teal button" type="submit">
    <i class="save icon"></i>
    Save
  </button>  
</form>

{% endblock %}
