<div class="ui basic modal confirm-delete-modal">
  <div class="ui icon header">
    <i class="trash icon"></i>
    Delete topic
  </div>
  <div class="content confirmation-message">
    Are you sure you want to delete this topic? This operation cannot be undone.
  </div>
  <div class="actions modal-buttons">
    <div class="ui deny cancel button">
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui approve button">
      <i class="trash icon"></i>
      Delete
    </div>
  </div>
</div>

<script>
  $('.ui.basic.modal.confirm-delete-modal').modal()
</script>

<div class="ui basic modal"></div>
