<div class="comment topic-wrapper" id="topic-wrapper-{{topic.id}}">
  <div class="topic-header-row">
    <h3 class="topic-subject">
      <a href="{{ url_for('view_topic', topic_id=topic.id) }}">{{ topic.subject }}</a>
    </h3>
    {% if current_user.is_admin or topic.author == current_user %}
    <div class="toolbar">
      <i
        onclick="handleEditTopic('{{ topic.id }}')"
        class="pencil icon link edit-topic-icon"
        aria-label="Edit topic title"
      ></i>
      <i
        onclick="handleDeleteTopic('{{ topic.id }}')"
        class="delete icon link delete-icon"
        aria-label="Delete topic"
      ></i>
    </div>
    {% endif %}
  </div>
  <a class="avatar">
    <img src="../../static/images/avatar.png" alt="User avatar" />
  </a>
  <div class="content">
    <a class="author" href="{{ url_for('view_user_page', user_id=topic.author.id) }}">
      {{ topic.author.username }}
    </a>
    <div class="metadata">
      <div class="date">
        <i class="clock alternate icon"></i>
        {{ moment(topic.date_created).fromNow() }}
      </div>
      <div>
        <i class="comment icon"></i>
        {% if topic.posts|length == 1 %} 1 post {% else %} {{ topic.posts|length }} posts {% endif
        %}
      </div>
    </div>
    <div class="text">
      {{ topic.posts[0].body }}
    </div>
    <div class="actions">
      {% for tag in topic.tags %}
      <div class="ui tiny label">{{ tag.name }}</div>
      {% endfor %}
    </div>
  </div>
</div>
