{% extends "layout.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="ui stackable two column relaxed grid">
    <div class="twelve wide column">
      <h1>Latest topics</h1>
      {% include "topics/_topics_list.html" %}
    </div>
    {% if most_liked_posts %}
    <aside class="four wide column">
      <h2>Most liked today</h2>
      <div class="ui small comments topic-list">
        {% for post in most_liked_posts %}
        {% include "posts/_post.html"%}
        {% endfor %}
      </div>
    </aside>
    {% endif %}
  </div>
</div>
{% endblock %}
