{% extends "layout.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="ui stackable two column relaxed grid">
    <div class="twelve wide column">
      <h2 class="ui header">Latest topics</h2>
      {% include "topics/_topics_list.html" %}
    </div>
    <div class="four wide column">
      {% if most_liked_posts %}
      <h2>Most liked today</h2>
      <div class="ui comments topic-list">
        {% for post in most_liked_posts %}
        {% include "posts/_post.html"%}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
