{% extends "layout.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="ui stackable two column relaxed grid">
    <div class="twelve wide column">
      <h2 class="ui header">Latest topics</h2>
      <div class="ui comments topic-list">
        {% if topics|length == 0 %}
        <div class="ui segment no-topics-message">
          There are no topics. Go ahead and <a href="{{ url_for('view_new_topic_form') }}">add one</a>!
        </div>

        {% else %}
        {% for topic in topics %}
        {% include "topics/_topic.html" %}
        {% endfor %}

        {% endif %}
      </div>
      <div class="topic-navigation">
        {% if next_url %}
        <a href="{{ next_url }}"><i class="teal arrow alternate circle left icon link big"></i></a>
        {% endif %}
        {% if prev_url %}
        <a href="{{ prev_url }}"><i class="teal arrow alternate circle right icon link big"></i></a>
        {% endif %}
      </div>
    </div>
    <div class="four wide column">
      {% if most_liked_posts %}
      <h2>Most liked today</h2>
      <div class="ui comments topic-list">
        {% for post in most_liked_posts %}
        {% include "posts/_post.html"%}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
