{% extends "layout.html" %}

{% block body %}

<form
  class="ui form"
  method="POST"
  action="{{ url_for('create_topic') }}"
  onkeydown="return event.key != 'Enter'"
>
  <div class="field">
    {{ form.subject.label }}
    {{ form.subject }}
    {% for error in form.subject.errors %}
    <div class="ui pointing red basic label">
      {{ error }}
    </div>
    {% endfor %}
  </div>
  <div class="field">
    {{ form.body.label }}
    {{ form.body }}
    
    {% for error in form.body.errors %}
    <div class="ui pointing red basic label">
      {{ error }}
    </div>
    {% endfor %}
  </div>

  <div class="field">
    {{ form.tags.label }}
    <div class="ui fluid multiple search normal selection dropdown tag-list">
      <input type="hidden" name="tags" />
      <div class="default text">Select up to 3 tags</div>
      <div class="menu">
        {% for tag in tags %}
        <div class="item" data-value="{{ tag.name }}">{{ tag.name }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <button class="ui teal icon button" type="submit">
    <i class="pencil icon"></i>
    Add new topic
  </button>

  {% for error in form.tags.errors %}
  <div class="ui pointing red basic label">
    {{ error }}
  </div>
  {% endfor %}
</form>

<script>
  $('.ui.dropdown').dropdown({
    maxSelections: 3,
    allowAdditions: true,
  })
</script>

{% endblock %}
