{% extends "layout.html" %} {% block body %}

<h2>Search topics</h2>

<form class="ui form" method="POST" action="{{ url_for('search_topics') }}">
  <div class="field">
    {{ form.subject.label }}
    {{ form.subject }}
    
    {% for error in form.subject.errors %}
    <div class="ui pointing red basic label">
      {{ error }}
    </div>
    {% endfor %}
  </div>

  <div class="field">
    {{ form.author.label }}
    {{ form.author }}
    
    {% for error in form.author.errors %}
    <div class="ui pointing red basic label">
      {{ error }}
    </div>
    {% endfor %}
  </div>

  <button class="ui teal icon button" type="submit">
    <i class="search icon"></i>
    Search
  </button>
</form>

{% endblock %}
