{% extends "layout.html" %} {% block body %}

<div class="content-wrapper">
  <h2 class="ui dividing header">{{ topic.subject }}</h2>
  <div class="ui comments topic-list">
    {% for post in topic.posts %}
    <div class="comment post-wrapper">
      <a class="avatar">
        <img src="../../static/images/avatar.png" />
      </a>
      <div class="content">
        <a class="author">{{ post.author.username }}</a>
        <div class="metadata">
          <span class="date">{{ post.date_created.strftime('%H:%M (%d %b %Y)') }}</span>
        </div>
        <div class="text">
          {{ post.body }}
        </div>
        <div class="actions">
          <div class="ui label likes-label" id="likes-label-{{post.id}}" onclick="handleLike('{{post.id}}')">
            <i class="heart icon"></i><span id="likes-text-{{post.id}}">{{ post.likes }}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <form
      class="ui reply form"
      method="POST"
      action="{{ url_for('posts_create', topic_id=topic.id) }}"
    >
      <div class="field">
        {{ form.body }} {% for error in form.body.errors %}
        <div class="ui pointing red basic label">
          {{ error }}
        </div>
        {% endfor %}
      </div>
      <button class="ui teal labeled submit icon button" type="submit">
        <i class="pencil icon"></i>
        Add new post
      </button>
    </form>
  </div>
</div>

{% endblock %}
